


.crud-table{
    color: black;
    word-spacing: 4px;
    letter-spacing: 4px;
    line-height: 25px;
    /* border-spacing: 5px; */
    table-layout: auto;
    background-color: gray;
    border-radius: 5px;
    




}

.caja{
    background-color: whitesmoke;
    font-weight: 700;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-spacing: 500px 10px;
}

.lista{
    background-color: honeydew;
    border-radius: 5px;
}


body{


    background-image:url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    color: whitesmoke ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.botones-editar{
    
        background: #1089ff;
        border-color: #1089ff;
        color: #FFFFFF;
        display: block;
        font: bold 12px/20px sans-serif;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        margin: 0;
        padding: 0;
        border-radius: 5px;    
	list-style: none;
	width: 100%;
    
   
}


.botones-eliminar{
    
    background-color:red ;
    border-color: red;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    
    list-style: none;
	width: 100%;

}


.input{
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
}


.enviar{
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 10px 20px -6px rgba(0,0,0,.12);
    box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #287233;
    border-color: #287233;
    color: #fff;
}